<!-- ./views/layouts/main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Flying Squirrels - CS340 Project</title>
</head>
<body>

<h1>Doggy-Daycare</h1>
<br>

<a href = "https://cs340-project-group-10.herokuapp.com/">
<button>To the Home Page</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/employees">
<button>To the Employees Page</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/dogs">
<button>To the Dogs Page</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/yards">
<button>To the Yards Page</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/kennels">
<button>To the Kennels Page</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/dog_employee_relations">
<button>To the Dog and Employee Relations Page</button></a>

    {{{body}}}

</body>
</html>