<!-- ./views/index.hbs -->

<br>
<h3>Welcome to your Doggy-Daycare Service Portal!</h3>

What would you like to do?


<a href = "https://cs340-project-group-10.herokuapp.com/employees">
<button>Add, Remove, or Edit Employees</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/dogs">
Add, Remove, or Edit Dogs</a>
<a href = "https://cs340-project-group-10.herokuapp.com/yards">
<button>Add, Remove, or Edit Yards</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/kennels">
<button>Add, Remove, or Edit Kennels</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/dog_employee_relations">
<button>Add, Remove, or Edit Dog and Employee Relations</button></a>
