<!-- ./views/update_dog_employee_relation.hbs -->

{{!-- Form to Update a Dog_Employee_Relation record  --}}
<h2>Update Dog and Employee Relation Information</h2>
<p>To update a dog and employee relation, please edit their information below and click 'Submit'!</p>
<form id="update-dog_employee_relation-form-ajax">

    <input type="hidden" name="input-dog_id" id="input-dog_id" value={{dog_emp_info.dog_id}}>

    <input type="hidden" name="input-emp_id" id="input-emp_id" value={{dog_emp_info.emp_id}}>

    <label for="input-get_along">Get Along (1 for yes, 0 for no): </label>
    <input type="number" name="input-get_along" id="input-get_along" value={{dog_emp_info.get_along}}>

    <input type="submit">
</form>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/update_dog_employee_relation.js"></script>
