<!-- ./views/update_dog.hbs -->

{{!-- Form to update a Dog record  --}}
<h2>Update Dog Information</h2>
<p>To update a Dog, please edit their information below and click 'Submit'!</p>
<form id="update-dog-form-ajax">
    <label for="input-dog_name">Dog's Name: </label>
    <input type="text" name="input-dog_name" id="input-dog_name">
    
    <label for="input-size">Size (1 for small, 2 for medium, or 3 for large): </label>
    <input type="number" name="input-size" id="input-size">

    <label for="input-assigned_yard">Assigned Yard: </label>
    <input type="number" name="input-assigned_yard" id="input-assigned_yard">

    <label for="input-assigned_kennel">Assigned Kennel: </label>
    <input type="number" name="input-assigned_kennel" id="input-assigned_kennel">

    <input type="submit">
</form>