/* ./public/css/styles.css

/* common styles */
* {
    /*padding: 0;
    margin: 0;*/
  }
  
  body {
    /*width: 100vw;
    min-height: 100vh;
    display: flex;
    /*justify-content: center;*/
    font-family: sans-serif;
  }


/* common style ends */

/* container */
.container {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }