/* ./public/css/styles.css

/* common styles */
  
  body {
    font-family: sans-serif;
  }

a:link, a:visited {
    color: rgb(2, 2, 189);
}
a:hover {
    color: rgb(177, 5, 5);
}

/* common styles end */

